{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <form action="{% url 'movies' %}" method="GET">
        {% csrf_token %}
        <label>Get list of all movies</label>
        <!--<div class="text-center mt-4">-->
                  <input type="submit" value="Movies">
             <!--</div>-->
      </form>
    </div>
    <div class="col-4">
      <form action="comments/" method="GET">
        {% csrf_token %}
         <label>Get all comments</label>
         <input type="number" name="id" value="id" placeholder="ID of the movie">
         <button type="submit">Comments</button>
      </form>
    </div>
    <div class="col-5">
       <form action="top/" method="GET">
        {% csrf_token %}
        <label>Top movies From To:</label><br>
         <input type="date" name="from" placeholder="From"><br>
        <input type="date" name="to" value="to" placeholder="To"><br>
        <button type="submit">Top</button>
      </form>
    </div>
  </div>
  <div class="row">
     <form action="{% url 'movies' %}" method="POST">
        {% csrf_token %}
        <label>Find Your movie</label>
       <input type="text" name="title" id="title"  placeholder="Title of the movie" required="True">
        <button type="submit">Find</button>
     </form>
  </div>
</div>


{% endblock %}